Repository agoric-labs/cosmos-sdk, pull requests merged in 2021-07, with the labels that each got.

#76 docs: vesting calculator build instructions
  x/auth/vesting/cmd/vestcalc/README.md
Labels: documentation

#82 feat: enable more powerful vesting accounts
  x/auth/spec/05_vesting.md
  x/auth/vesting/exported/exported.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/view.go
Labels: enhancement

#84 fix: vesting test compile error
  x/auth/vesting/handler_test.go
Labels: bug

#89 chore: merge v0.43.0-rc2 and fix tests
  CHANGELOG.md
  server/grpc/grpc_web.go
  server/grpc/server.go
  server/start.go
  server/types/app.go
  testutil/network/util.go
  types/module/module.go
  x/auth/vesting/cmd/vestcalc/vestcalc.go
  x/auth/vesting/cmd/vestcalc/vestcalc_test.go
Labels: C:x/auth

#88 feat: export AccountKeeper interface instead of concrete type
  x/auth/keeper/account.go
  x/auth/keeper/grpc_query.go
  x/auth/keeper/keeper.go
  x/auth/keeper/params.go
Labels: C:x/auth
