Repository agoric-labs/cosmos-sdk, pull requests merged in 2022-01, with the labels that each got.

#160 chore: merge `cosmos-sdk` v0.44.5 to ag0
  CHANGELOG.md
  RELEASE_NOTES.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/test_helpers.go
  client/keys/show_test.go
  cosmovisor/go.sum
  crypto/keys/secp256k1/secp256k1_test.go
  go.mod
  go.sum
  proto/cosmos/base/abci/v1beta1/abci.proto
  types/abci.pb.go
  types/address_test.go
  types/bech32/bech32.go
  types/errors/abci.go
  types/result.go
  types/result_test.go
  x/authz/client/rest/grpc_query_test.go
Labels: C:Cosmovisor, C:Keys, C:CLI, C:x/authz

#161 chore: merge `cosmos-sdk` 0.44.5 to `Agoric`
  CHANGELOG.md
  RELEASE_NOTES.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/test_helpers.go
  client/keys/show_test.go
  cosmovisor/go.sum
  crypto/keys/secp256k1/secp256k1_test.go
  go.mod
  go.sum
  proto/cosmos/base/abci/v1beta1/abci.proto
  types/abci.pb.go
  types/address_test.go
  types/bech32/bech32.go
  types/errors/abci.go
  types/result.go
  types/result_test.go
  x/authz/client/rest/grpc_query_test.go
Labels: C:Cosmovisor, C:Keys, C:CLI, C:x/authz, automerge

#158 feat: land clawback vesting on `Agoric-ag0`
  docs/core/proto-docs.md
  proto/cosmos/vesting/v1beta1/tx.proto
  proto/cosmos/vesting/v1beta1/vesting.proto
  simapp/app.go
  x/auth/spec/05_vesting.md
  x/auth/vesting/client/cli/tx.go
  x/auth/vesting/client/testutil/suite.go
  x/auth/vesting/handler.go
  x/auth/vesting/handler_test.go
  x/auth/vesting/module.go
  x/auth/vesting/msg_server.go
  x/auth/vesting/types/codec.go
  x/auth/vesting/types/expected_keepers.go
  x/auth/vesting/types/hooks.go
  x/auth/vesting/types/msgs.go
  x/auth/vesting/types/msgs_test.go
  x/auth/vesting/types/period.go
  x/auth/vesting/types/period_test.go
  x/auth/vesting/types/tx.pb.go
  x/auth/vesting/types/vesting.pb.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/store.go
  x/distribution/spec/05_hooks.md
  x/distribution/types/expected_keepers.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
Labels: C:x/auth, C:x/distribution, C:x/staking, automerge, MN-1

#163 fix(vesting): improvements in accounting after slashing events
  docs/core/proto-docs.md
  proto/cosmos/vesting/v1beta1/vesting.proto
  x/auth/vesting/handler_test.go
  x/auth/vesting/types/common_test.go
  x/auth/vesting/types/expected_keepers.go
  x/auth/vesting/types/vesting.pb.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/staking/keeper/delegation_test.go
Labels: C:x/auth, C:x/staking, agoric-cosmos

#164 fix: factor out reward when computing reward vesting
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
Labels: bug, C:x/auth, automerge, MN-1, agoric-cosmos

#165 fix: reset delegation bookkeeping when adding new grants
  x/auth/vesting/msg_server.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
Labels: C:x/auth
