Repository agoric-labs/cosmos-sdk, pull requests merged in 2023-03, with the labels that each got.

#295 feat: Enhance Cosmovisor for Github zip archives
  Makefile
  cosmovisor/README.md
  cosmovisor/cmd/cosmovisor/main.go
  cosmovisor/go.mod
  cosmovisor/process_test.go
  cosmovisor/scanner_test.go
  cosmovisor/upgrade.go
  cosmovisor/upgrade_test.go
  crypto/keyring/keyring.go
  x/auth/vesting/cmd/vestcalc/vestcalc.go
  x/auth/vesting/handler_test.go
  x/auth/vesting/types/common_test.go
  x/auth/vesting/types/msgs.go
  x/auth/vesting/types/period.go
  x/auth/vesting/types/period_test.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/staking/keeper/delegation.go
Labels: C:x/auth, C:x/staking, C:Cosmovisor, Type: Build, automerge

#301 chore(cosmovisor): refer to `github.com/agoric-labs`
  cosmovisor/cmd/cosmovisor/main.go
  cosmovisor/go.mod
  cosmovisor/process_test.go
  cosmovisor/scanner_test.go
  cosmovisor/upgrade_test.go
Labels: C:Cosmovisor, Scope: Cosmovisor

#297 feat: agoric-sdk state-sync support
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp_test.go
  baseapp/deliver_tx_test.go
  docs/architecture/adr-049-state-sync-hooks.md
  snapshots/helpers_test.go
  snapshots/manager.go
  snapshots/manager_test.go
  snapshots/stream.go
  snapshots/types/format.go
  snapshots/types/snapshotter.go
  snapshots/types/util.go
  store/rootmulti/snapshot_test.go
Labels: Type: ADR
